@font-face {
    font-family: 'SF-Movie-Poster-Bold';
    src:url('fonts/SF-Movie-Poster-Bold.ttf.woff') format('woff'),
        url('fonts/SF-Movie-Poster-Bold.ttf.svg#SF-Movie-Poster-Bold') format('svg'),
        url('fonts/SF-Movie-Poster-Bold.ttf.eot'),
        url('fonts/SF-Movie-Poster-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


.header {
    background: #e9e6e6;
}

.header li {
    display: inline-block;
    padding: 1em;
}

.content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

canvas {
    max-width: 550px;
}